body {
  font-family: sans-serif;
  background: #649173; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #649173 , #DBD5A4); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #649173 , #DBD5A4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.player {
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
}

.nav > ul > li {
	list-style-type: none;
	display: inline-block;
}

.nav > ul > li a, .nav > ul > li input {
	display: block;
	margin: 0;
	padding: 0;
	padding-right: 20px;
}