body {
  font-family: sans-serif;
  background: #649173; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #649173 , #DBD5A4); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #649173 , #DBD5A4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.centerDiv {
	width: 800px;
	margin: 0 auto;
}

.player {
	display: inline-block;
	width: 100%;
	height: 180px;
	padding-top: 20px;
	margin: 0 auto;
}

.controls {
	float: left;
	width: 30%;
	height: 250px;
	background: #adb7f7;
	text-align: center;
	border-radius: 5px;
}



.nav > ul > li {
	list-style-type: none;
	display: inline-block;
}

.nav > ul > li a, .nav > ul > li input {
	display: block;
	margin: 0;
	padding: 0;
	padding-right: 20px;
}

.round-button {
	width: 50px;
	margin: 0px auto;
	padding-top: 10px;
	padding-right: 20px;
}

.round-button-circle {
	width: 100%;
	height: 0;
	padding-bottom: 100%;
  border-radius: 50%;
	border: 10px solid #cfdcec;
  overflow: hidden;

  background: white;
  box-shadow: 0 0 3px gray;
}
.round-button-circle:hover {
	background: grey;
}

.round-button-record {
  display: block;
	float: left;
	width: 100%;
	padding-top: 50%;
  padding-bottom: 50%;
	line-height: 1em;
	margin-top: -0.6em;
	text-align: center;
	color: red;
  font-family: Verdana;
  font-size: 4em;
  font-weight: bold;
  text-decoration: none;
}

.round-button-stop {
  display: block;
	float: left;
	width: 100%;
	padding-top: 50%;
  padding-bottom: 50%;
	line-height: 1em;
	margin-top: -0.6em;
	text-align: center;
	color: red;
  font-family: Verdana;
  font-size: 2em;
  font-weight: bold;
  text-decoration: none;
}

.round-button-play {
  display: block;
	float: left;
	width: 100%;
	padding-top: 50%;
  padding-bottom: 50%;
	line-height: 1em;
	margin-top: -0.5em;
	text-align: center;
	color: red;
  font-family: Verdana;
  font-size: 3em;
  font-weight: bold;
  text-decoration: none;
}

#play {
	margin-top: -0.5em;
	margin-left: 0.1em;
	text-align: center;
	color: black;
  font-size: 1.5em;
}

.meta {
	float: left;
	width: 70%;
	height: 500px;
	background: #5e6382;
	border-radius: 5px;
	text-align: center;
}

.meta label {
	font-size: 12px;
	color:white;
	display:block;
	margin:5px 0 0 0;
}

.meta input[type=text] {
	margin:5px auto 15px;
	width: 350px;
	height: 40px;
	padding: 10px 20px;
	font-size: 16px;
	box-sizing: border-box;
	border: none;
  border-bottom: 2px solid black;
  display:block;
}

.meta input[type=text]:focus {
  background-color: #e2ffcc;
}

#desc{
	height: 245px;
}
